<!DOCTYPE html>
<html>
<head>

<style>

.tablero {
    margin-top: 60px;

}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 18px Arial, sans-serif;
}

.fila > div {
    border:1px;
    text-align: center;
    width: 130px;
    line-height: 125px;
    margin: 0px;
    border-style: solid;
}
</style>

</head>
<body>
<div class='tablero'>
{% for fila in tablero %}
    <div class='fila'>
    {% for celda in fila %}
        {% if celda == 0 %}
        <div style='background-color:white;'> <a style='color:white'>{{celda}}</a> </div>
        {% else %}
        <div style='background-color:LimeGreen'> {{celda}} </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>

</body>
</html>
